

<div class="container mx-0 bg-dark">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @cocktails.each do |cocktail| %>
        <div class="carousel-item active">
          <% if cocktail.photos.attached? %>
            <%= cl_image_tag cocktail.photos.first.key, class:"d-block w-100" %>
          <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1595977437232-9a0426ebfe4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80", class:"d-block w-100" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
