// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: black;
}

#banner-show {
  position: relative;
}

#grid-show {
  width: 80%;
  position: absolute;
  top: 280px;
  left: 150px;
}

.btn-veronica {
  height: 70px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid white;
  a {
    color: white;
  }
}

.font-veronica {
  color: white;
  font-family: 'Permanent Marker';
}

.big-font {
  font-size: 50px;
}

